<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,9},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>player2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,9},{86,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>player2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,9},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player2.png</string>
            <key>size</key>
            <string>{274,87}</string>
            <key>textureFileName</key>
            <string>player2.png</string>
        </dict>
    </dict>
</plist>