<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,2},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>player4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>player4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player4.png</string>
            <key>size</key>
            <string>{274,82}</string>
            <key>textureFileName</key>
            <string>player4.png</string>
        </dict>
    </dict>
</plist>